div{
    position: relative;
    top: 5em;
    left: 5em;
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: gray;
}

@keyframes animation{
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(700%, 250%);
    }
}

.move{
    animation-name: animation;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
}
